
body {
	background-color: black;
}

table {
    width: 100%;
    background: #fff;
	color: #000;
	border-radius: 7px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
td {
	padding: 7px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
