body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: white;
}

table {
    width: 100%;
    background: #fff;
	color: #000;
	border-radius: 7px;
	border: 2px solid black;
	height: 402px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody tr {
    border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	height: 35px;
}
td {
	padding: 7px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

ul.pagination {
    width: 203px;
	margin: 0 auto;
	padding: 0;
}

.pagination li {
    display: inline-block;
    padding: 7px;
	background: white;
	border-radius: 7px;
	margin: 7px;
}
.pagination.load li:first-child, .pagination li.active {
	background: black;
}
.pagination.load li:first-child a, .pagination li.active a {
	color:white;
}
.pagination a {
	padding: 3px;
	text-decoration: none;
}

input[name="search"] {
    width: 99%;
    padding: 7px 0;
    margin: 7px auto;
    text-align: center;
}